DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USERNAME="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="orvosi-api"
DATABASE_SSL_MODE="disable"
DATABASE_MAX_OPEN_CONNS=10
DATABASE_MAX_IDLE_CONNS=2

GOOGLE_AUDIENCE=audience

PORT="1234"
